# GitHub CODEOWNERS file used for setting default reviewers

# https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# These global owners will be the default owners for everything in the repo. Unless a later match takes precedence,

# these owners will be requested for review when someone opens a pull request.

/.github/CODEOWNERS @sieker-trackunit

/guides/ @KateVomBerg
/api-docs/ @KateVomBerg
/custompages/ @KateVomBerg
/changelogs/ @KateVomBerg

/guides/sdk-docs/ @Trackunit/team-iris-foundation @Trackunit/team-gluon-fe @KateVomBerg
/custompages/graphql-visualizer.md @Trackunit/team-iris-foundation

/api-docs/data-model.md @Trackunit/team-io
/api-docs/machine-insights-streaming-dataformat.md @Trackunit/team-io
/api-docs/streaming-api.md @Trackunit/team-io
/custompages/iso-feeds.md @Trackunit/team-io

